@model Model.Equipment
@{
    ViewBag.Title = "EquipmentEdit";
}

<form class="form-horizontal form-label-left" novalidate action="/Setting/EquipmentEdit" method="post">
    @if(Model!=null){
        <span class="section">设备修改</span>
         <div class="item form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                编号 <span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input name="EquipmentId" value="@Model.EquipmentId" readonly="readonly" required="required" class="form-control col-md-7 col-xs-12">
            </div>
        </div>
        <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            设备名称 <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="EquipmentName" value="@Model.EquipmentName" required="required" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            设备IP <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="IP" value="@Model.IP" data-validate-linked="IP" required="required" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
            序列号 <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="Serialno" value="@Model.Serialno" required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    }
    else
    {
         <span class="section">设备添加</span>
        <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            设备名称 <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input   name="EquipmentName"  required="required" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
            设备IP <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input name="IP" data-validate-linked="email" required="required" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="item form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="number">
            序列号 <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input  name="Serialno"  required="required" data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    }
    
    
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
            <button type="button" onclick="history.go(-1)" class="btn btn-primary">取消</button>
            <button id="send" type="submit" class="btn btn-success">保存</button>
        </div>
    </div>
</form>